<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img (click)="redireccionar('home')" src="../../../assets/images/back.png" alt="" height="15px">
      Opciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center" style="display: flex; justify-content: center; align-items: center;">
  <ion-card>
    <ion-button (click)="agregarListaEspera()">
      Agregarme a la lista de espera
    </ion-button>
    <ion-button (click)="redireccionar('graficos')">
      Ver gráficos de encuestas
    </ion-button>
  </ion-card>
  
</ion-content>
