ion-content {
  --background: rgba(255, 255, 255, 0.8) url('../../../assets/images/chat-back2.jpeg');
  --background-size: cover;
  --background-position: center;
}


.transparent {
  --background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  color: #000; /* Color de texto negro para mejor contraste */
}

.custom-fab-button {
  width: 80px; /* Ajusta el ancho según tus necesidades */
  height: 80px; /* Ajusta la altura según tus necesidades */
  font-size: 1rem; /* Ajusta el tamaño del texto */
  line-height: 1.2; /* Ajusta el espaciado entre líneas */
}

