<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><img routerLink="/home" src="../../../assets/images/back.png" alt="" height="15px"> Gestión de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <ion-content [fullscreen]="true">

    <ion-content color="light">

      <br><br>
      <ion-card>
        <br>
        <ion-card-title>Clientes pendientes de aprobación</ion-card-title>
        <ion-card-subtitle>Acceso único para Dueño/Supervisor</ion-card-subtitle>

        <ion-list inset="true" >
          <ion-item *ngFor="let cliente of clientesPendientes">
            <img src="{{cliente.urlFoto}}" alt=""><br>
            <ion-label (click)="obtenerIdClienteSeleccionado(cliente.dni)">{{cliente.nombre}} {{cliente.apellido}}</ion-label>
            <ion-button color="success" (click)="gestionarSolicitud(cliente, true)">Autorizar</ion-button>
            <ion-button color="danger" (click)="gestionarSolicitud(cliente, false)">Rechazar</ion-button>
          </ion-item>
        </ion-list>

        <div  *ngIf="clientesPendientes.length==0">
          <img src="../../../assets/images/check.png"  style="height: 100px;" alt="">
          <h3>No hay clientes pendientes de aprobación</h3>


        </div>
      </ion-card>
      
    </ion-content>
  </ion-content>



</ion-content>
