<ion-content>
  <div class="container">
    <div class="nombres">
      <h3 #integrante1 class="nombre text-align: center">Fermín González</h3>
      <h3 #integrante2 class="nombre text-align: center">Agustina Bilotta</h3>
      <h3 #integrante3 class="nombre text-align: center">
        Ian Ezequiel Pereyra
      </h3>
    </div>

    <img #imgElement src="../../assets/icon.png" />

    <div></div>
  </div>
</ion-content>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .nombre,
  .division {
    text-align: center;
  }
</style>
