* {
  color: #000;
}

ion-content {
  --background: rgba(255, 255, 255, 0.8) url('../../../assets/images/chat-back2.jpeg');
  --background-size: cover;
  --background-position: center;
}

.lista-items {
  display: flex;
  justify-content: space-between;
}

.transparent {
  --background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
}

.item-label {
  flex: 1;
}

.price-label {
  flex: 0;
  font-weight: 600;
  text-align: right;
}

.medium-font {
  font-size: 1.2rem;
}

.larger-font {
  font-size: 1.8em; /* Puedes ajustar el valor según tus necesidades */
}

.monto-card {
  border: 2px solid rgb(103, 200, 103);
}

.monto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monto-label {
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
  text-align: left;
}

.monto-valor {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  text-align: right;
}

.subtotal-label {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-align: left;
}

.subtotal-valor {
  font-size: 1.7rem;
  font-weight: 900;
  color: black;
  text-align: right;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
