.titulo-grande {
  font-size: 2.5rem;
}

.titulo-mediano {
  font-size: 1.5rem;
}

.etiqueta-grande {
  font-size: 1.5rem;
}

.item-grande {
  margin: 1rem 0;
}

.boton-grande {
  font-size: 1.5rem;
  height: 4rem;
}
