ion-content {
  --background: rgba(255, 255, 255, 0.8) url(../../../assets/images/chat-back2.jpeg);
  --background-size: cover;
  --background-position: center;
}


.transparent {
  --background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
}

.titulo-grande {
  font-size: 2.5rem;
  color: #000; /* Color de texto negro para mejor contraste */
}

.etiqueta-grande {
  color: #000; /* Color de texto negro para mejor contraste */
  font-size: 1.5rem;
}

.item-grande {
  color: #000; /* Color de texto negro para mejor contraste */
}

.boton-grande {
  font-size: 1.5rem;
  height: 4rem;
}

.with-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea divisoria entre los divs */
  padding-bottom: 5px; /* Espacio inferior para separación visual */
  margin-bottom: 10px; /* Margen inferior para separación visual */
}
