
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img routerLink="/pedir-cuenta" src="../../../assets/images/back.png" alt="" height="15px">
      Opciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="ion-text-center titulo-grande">Propina</div>

  <ion-list>
    <ion-radio-group [(ngModel)]="nivelSatisfaccionSeleccionado" (ionChange)="calcularPropina()">
      <ion-list-header>
        <ion-label class="etiqueta-grande">Seleccione su nivel de satisfacción:</ion-label>
      </ion-list-header>

      <ion-item class="item-grande">
        <ion-label class="etiqueta-grande">Excelente (20%)</ion-label>
        <ion-radio slot="start" value="20"></ion-radio>
      </ion-item>

      <ion-item class="item-grande">
        <ion-label class="etiqueta-grande">Muy Bueno (15%)</ion-label>
        <ion-radio slot="start" value="15"></ion-radio>
      </ion-item>

      <ion-item class="item-grande">
        <ion-label class="etiqueta-grande">Bueno (10%)</ion-label>
        <ion-radio slot="start" value="10"></ion-radio>
      </ion-item>

      <ion-item class="item-grande">
        <ion-label class="etiqueta-grande">Regular (5%)</ion-label>
        <ion-radio slot="start" value="5"></ion-radio>
      </ion-item>

      <ion-item class="item-grande">
        <ion-label class="etiqueta-grande">Malo (0%)</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item class="item-grande">
    <ion-label class="etiqueta-grande">Total de la Cuenta: {{ totalCuenta | currency }}</ion-label>
  </ion-item>

  <ion-item *ngIf="propinaCalculada !== null" class="item-grande">
    <ion-label class="etiqueta-grande">Propina: {{ propinaCalculada | currency }}</ion-label>
  </ion-item>

  <ion-item *ngIf="totalConPropinaCalculada !== null" class="item-grande">
    <ion-label class="etiqueta-grande">Total con Propina: ${{ totalConPropinaCalculada}}</ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!totalConPropinaCalculada" expand="full" (click)="enviarPropina()" class="boton-grande">Enviar Propina</ion-button>
  </ion-toolbar>
</ion-footer>

