<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ "TIP.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <br>
  <ion-card class="transparent">
    <ion-card-header>
      <ion-card-title class="etiqueta-grande">{{ "TIP.select_tip" | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" class="etiqueta-grande" (click)="seleccionarNivel(20)" [color]="nivelSatisfaccionSeleccionado === 20 ? 'success' : 'primary'">{{ "TIP.tip5" | translate }} (20%)</ion-button>
      <ion-button expand="block" class="etiqueta-grande" (click)="seleccionarNivel(15)" [color]="nivelSatisfaccionSeleccionado === 15 ? 'success' : 'primary'">{{ "TIP.tip4" | translate }} (15%)</ion-button>
      <ion-button  expand="block" class="etiqueta-grande" (click)="seleccionarNivel(10)" [color]="nivelSatisfaccionSeleccionado === 10 ? 'success' : 'primary'">{{ "TIP.tip3" | translate }} (10%)</ion-button>
      <ion-button expand="block" class="etiqueta-grande" (click)="seleccionarNivel(5)" [color]="nivelSatisfaccionSeleccionado === 5 ? 'success' : 'primary'">{{ "TIP.tip2" | translate }} (5%)</ion-button>
      <ion-button expand="block" class="etiqueta-grande" (click)="seleccionarNivel(0)" [color]="nivelSatisfaccionSeleccionado === 0 ? 'success' : 'primary'">{{ "TIP.tip1" | translate }} (0%)</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="transparent">
    <ion-card-content>
      <div class="etiqueta-grande with-divider">{{ "TIP.total_bill" | translate }}: <strong>{{ totalCuenta | currency }}</strong></div>
      <div *ngIf="propinaCalculada !== null" class="etiqueta-grande">{{ "TIP.tip" | translate }}: <strong>{{ propinaCalculada | currency }}</strong></div>
      <!-- <div *ngIf="totalConPropinaCalculada !== null" class="etiqueta-grande">Total con Propina: <strong>{{ totalConPropinaCalculada | currency }}</strong></div> -->
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-button expand="full" [disabled]="!totalConPropinaCalculada" (click)="enviarPropina()" class="boton-grande">{{ "TIP.send_tip" | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>
