/* Spinner Container */
.spinner-container {
  position: fixed; /* Fijo en la pantalla */
  bottom: 20px; /* Separación desde abajo */
  right: 20px; /* Separación desde la derecha */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  display: flex; /* Centrar el contenido dentro del contenedor */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  color: white; /* Color del texto */
}

/* Ajustes del SVG Spinner */
.spinner-container svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
