<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ "TABLE.title" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" class="login-button" (click)="openLanguagePopover($event)">
        <ion-icon name="language" slot="icon-only" size="large">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center content-background">
  <div class="container">

    <ion-card *ngIf="pedidoDelUsuario" class="ion-text-center" style="border-radius: 15px;">
      <br>
      <ion-card-title>
        <img src="../../../assets/images/clock.png" style="height: 60px;"><br>
        <span style="font-size: medium;">{{ "TABLE.order_time" | translate }} {{pedidoDelUsuario.tiempo}} {{ "TABLE.order_minutes" | translate }}</span><br>
        <span style="font-weight: 800;">{{ "TABLE.time_left" | translate }}: {{tiempoRestante}}</span>
      </ion-card-title>
      <br>
    </ion-card>
    <ion-button *ngIf="usuarioVinculado" expand="full" (click)="mostrarMesasLibres()" class="custom-button">
      {{ "TABLE.free_tables" | translate }}
    </ion-button>

    <ion-button *ngIf="!usuarioVinculado" expand="full" (click)="vincularMesa()" class="custom-button">
      {{ "TABLE.link_table" | translate }}
    </ion-button>

    <ion-button expand="full" (click)="pedirCuenta()" class="ion-text-center custom-button"  *ngIf="pedidoDelUsuario && pedidoDelUsuario.estado === 'entregado-confirmado' && usuarioVinculado">
      {{ "TABLE.request_bill" | translate }}
    </ion-button>

    <ion-button *ngIf="usuarioVinculado" expand="full" (click)="redireccionar('consulta-mozo')" class="custom-button">
      {{ "TABLE.ask_waiter" | translate }}
    </ion-button>

    <ion-button *ngIf="!pedidoDelUsuario && usuarioVinculado" expand="full" (click)="redireccionar('menu')" class="custom-button">
      {{ "TABLE.view_menu" | translate }}
    </ion-button>

    <ion-button *ngIf="pedidoDelUsuario && usuarioVinculado" expand="full" (click)="mostrarPedido()" class="custom-button">
      {{ "TABLE.view_state" | translate }}
    </ion-button>

    <ion-button *ngIf="usuarioVinculado" expand="full" (click)="redireccionar('encuesta')" class="custom-button">
      {{ "TABLE.view_surveys" | translate }}
    </ion-button>

    <ion-button *ngIf="pedidoDelUsuario && pedidoDelUsuario.estado === 'entregado' && usuarioVinculado" expand="full" (click)="confirmarRecepcionPedido()" class="custom-button">
      {{ "TABLE.confirm_order" | translate }}
    </ion-button>
  </div>
</ion-content>
