<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><img routerLink="/home" src="../../../assets/images/back.png" alt="" height="15px"> Lista de Espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

    <ion-content>
      <br><br>
      <ion-card>
        <br>
        <ion-card-title>Clientes pendientes</ion-card-title>

        <ion-list inset="true" >
          <ion-item *ngFor="let cliente of this.arrayShow">
            <ion-avatar slot="start">
              <img src="{{cliente.urlFoto}}" alt="">
            </ion-avatar>

            <ion-label>{{cliente.nombre}} {{cliente.apellido}}</ion-label>
          </ion-item>
        </ion-list>

        <div *ngIf="this.arrayShow.length===0">
          <img src="../../../assets/images/check.png"  style="height: 100px;" alt="">
          <h3>No hay clientes en lista de espera</h3>
        </div>
      </ion-card>

    </ion-content>

</ion-content>
