<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><img routerLink="/home" src="../../../assets/images/back.png" alt="" height="15px"> Lista de Espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <ion-content [fullscreen]="true">

    <ion-content color="light">

      <br><br>
      <ion-card>
        <br>
        <ion-card-title>Clientes pendientes</ion-card-title>

        <ion-list inset="true" >
          <ion-item *ngFor="let cliente of this.arrayAuthUsers">
            <ion-label>{{cliente}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list inset="true" >
          <ion-item *ngFor="let cliente of this.arrayClientes">
            <img src="{{cliente.urlFoto}}" alt=""><br>
            <ion-label>{{cliente.nombre}} {{cliente.apellido}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list inset="true" >
          <ion-item *ngFor="let cliente of this.arrayListaEspera">
            <ion-label>{{cliente.idCliente}} {{cliente.estado}}</ion-label>
          </ion-item>
        </ion-list>

        <!--<div  *ngIf="this.arrayClientes.length==0">
          <img src="../../../assets/images/check.png"  style="height: 100px;" alt="">
          <h3>No hay clientes en lista de espera</h3>
        </div>-->
      </ion-card>
      
    </ion-content>
  </ion-content>



</ion-content>
