<ion-header>


  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <ion-text class="text-center" style="margin-left: 5px;">
      <h1 style="font-size: medium;">{{loggedUser.email}}</h1>
    </ion-text>

    <ion-button (click)="logout()" style="border-radius: 20%; margin-right: 5px;" color="danger">
      <img style="height: 20px;" src="../../assets/images/cerrar-sesion.png" alt="">
    </ion-button>
  </div>

</ion-header>
<ion-content [fullscreen]="true">
<br><br>
<ion-card style="background-color: #e8e5e5; margin-left: 10px; margin-right: 10px;" class="ion-text-center">
  <ion-card-title>Bienvenid&#64;!</ion-card-title>
  <ion-card-subtitle>Escanea el QR</ion-card-subtitle>

  <br>
  <div style="text-align: center; justify-content: center; margin-top: 15px;">
    <ion-button (click)="scan()">
      <img style="height: 115px;" src="../../../assets/images/qr.png" alt="">
    </ion-button>
  </div>
  <br><br>
</ion-card>

<br><br>


<ion-button *ngIf="perfilUsuarioActual === 'dueño' || perfilUsuarioActual === 'supervisor'" (click)="redireccionar('gestion-clientes')">
  Autorizar Cliente
</ion-button><br>



<ion-button  (click)="redireccionar('qr-mesa')">
  QR Mesa
</ion-button><br>


<ion-button    (click)="redireccionar('qr-propina')">
  QR Propina
</ion-button><br>


<ion-button (click)="redireccionar('qr-ingreso')">
  QR Ingreso al local
</ion-button>

<ion-button (click)="redireccionar('alta-mesa')" *ngIf="this.perfilUsuarioActual === 'supervisor' || this.perfilUsuarioActual === 'dueño' ">
  Alta Mesa
</ion-button><br>

<ion-button (click)="redireccionar('alta-producto')" *ngIf="this.perfilUsuarioActual === 'cocinero' || this.perfilUsuarioActual === 'bartender'">
  Alta Producto
</ion-button><br><br>

<ion-button (click)="redireccionar('consulta-mozo')" *ngIf="this.perfilUsuarioActual === 'mozo' ">
  Chats con Clientes
</ion-button><br><br>

<ion-button (click)="redireccionar('pedidos-por-confirmar-mozo')" *ngIf="this.perfilUsuarioActual === 'mozo'">
  Pedidos Por Confirmar
</ion-button><br><br>

<ion-button (click)="redireccionar('pedidos-pendientes')" *ngIf="this.perfilUsuarioActual === 'cocinero' || this.perfilUsuarioActual === 'bartender'">
  Pedidos Pendientes
</ion-button><br><br>

</ion-content>
