<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="container" style="display: flex; justify-content: space-between; align-items: center">
      <div class="user-data">
        <ion-text class="text-center" style="margin-left: 5px">
          <h1 style="font-size: medium">{{ loggedUser.email }}</h1>
        </ion-text>

        <ion-text class="text-center" style="margin-left: 5px">
          <h1 style="font-size: medium">
            Perfil: {{ perfilUsuarioActual | titlecase }}
          </h1>
        </ion-text>
      </div>

      <ion-button
        (click)="logout()"
        style="border-radius: 20%; margin-right: 5px"
        color="danger"
      >
        <img
          style="height: 20px"
          src="../../assets/images/cerrar-sesion.png"
          alt="Cerrar sesión"
        />
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <br /><br />
  <ion-card style="margin-left: 10px; margin-right: 10px" class="ion-text-center transparent">
    <ion-card-title>Bienvenido/a!</ion-card-title>

    <br />
    <div style="text-align: center; justify-content: center; margin-top: 15px">
      <ion-button (click)="scan()">
        <img style="height: 200px" src="../../../assets/images/qr.png" alt="Imagen de QR" />
      </ion-button>
    </div>
    <ion-card-subtitle>Escanea el QR</ion-card-subtitle>
    <br /><br />
  </ion-card>

  <br /><br />
  <ion-button
    expand="full"
    *ngIf="perfilUsuarioActual === 'dueño' || perfilUsuarioActual === 'supervisor'"
    (click)="redireccionar('gestion-clientes')"
  >
    Autorizar Cliente
  </ion-button>

  <ion-button routerLink="/qr-mesa"> MESA</ion-button>
  <ion-button routerLink="/menu"> MENU</ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('alta-mesa')"
    *ngIf="this.perfilUsuarioActual === 'supervisor' || this.perfilUsuarioActual === 'dueño'"
  >
    Alta Mesa
  </ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('alta-producto')"
    *ngIf="this.perfilUsuarioActual === 'cocinero' || this.perfilUsuarioActual === 'bartender'"
  >
    Alta Producto
  </ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('lista-espera')"
    *ngIf="this.perfilUsuarioActual === 'metre'"
  >
    Mirar Lista de Espera
  </ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('consulta-mozo')"
    *ngIf="this.perfilUsuarioActual === 'mozo'"
  >
    Chats con Clientes
  </ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('pedidos-por-confirmar-mozo')"
    *ngIf="this.perfilUsuarioActual === 'mozo'"
  >
    Pedidos Pendientes
  </ion-button>

  <ion-button
  expand="full"
  (click)="redireccionar('pedidos-pendientes-barman')"
  *ngIf="this.perfilUsuarioActual === 'bartender'"
>
  Pedidos Pendientes
</ion-button>

  <ion-button
    expand="full"
    (click)="redireccionar('pedidos-pendientes')"
    *ngIf="this.perfilUsuarioActual === 'cocinero'"
  >
    Pedidos Pendientes
  </ion-button>
</ion-content>
