* {
  padding: 0;
  margin: 0;
}

.transparent {
  --background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  color: #000; /* Color de texto negro para mejor contraste */
}

.user-data {
  margin: 0px 0px 10px 5px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}


ion-button {
  font-size: 1.2rem; /* Ajusta el tamaño de fuente como prefieras */
  margin-bottom: 10px; /* Espacio entre botones */
}

ion-card-subtitle {
  font-size: 1.5rem; /* Ajusta el tamaño de fuente como prefieras */
}

ion-card-title {
  font-size: 2rem;
  margin-top: 10px;
  color: #000;
}

h1 {
  font-size: 1rem; /* Ajusta el tamaño de fuente como prefieras */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container ion-text {
  margin-left: 5px;
}

.container ion-button {
  border-radius: 20%;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-background {
  width: 100%;
  height: 100%;
  --background: rgba(255, 255, 255, 0.8) url(../../assets/images/chat-back2.jpeg);
  --background-size: cover;
  --background-position: center;
}
