<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">{{ "ORDERS.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="content-background">
  <ion-text class="ion-text-center">
    <h1 style="color: black; font-size: 30px; font-weight: 800;">{{ "ORDERS.list_kitchen" | translate }}</h1>
  </ion-text>
  <ion-card *ngFor="let pedido of pedidos" class="transparent-card">
    <ion-card-header>
      <ion-card-title>{{ "ORDERS.order" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="pedido.terminoCocinero === false">
        {{ "ORDERS.order_state" | translate }} <strong>
          {{ pedido.confirmacionCocinero ? 'ORDERS.state_making' : 'ORDERS.state_pending' | translate }}
        </strong><!-- DIVIDIR CON ngIf -->
      </p>
      <p *ngIf="pedido.terminoCocinero">{{ "ORDERS.order_state" | translate }} <strong>{{ "ORDERS.state_ready" | translate }}</strong></p>

      <p>{{ "ORDERS.products_list" | translate }} <strong>{{ pedido.platos | agruparProductos }}</strong></p>
      <p>{{ "ORDERS.preparation" | translate }} <strong>{{ pedido.tiempo }} {{ "ORDERS.minutes" | translate }}</strong></p>
      <br *ngIf="pedido.estado === 'pendiente' || pedido.estado === 'realizando'">
      <ion-button expand="full" color="success" *ngIf="pedido.confirmacionCocinero === false && pedido.terminoCocinero === false" (click)="aceptarPedido(pedido.id)">
        {{ "ORDERS.accept_btn" | translate }}
      </ion-button>
      <ion-button expand="full" color="danger" *ngIf="pedido.confirmacionCocinero && pedido.terminoCocinero === false" (click)="terminarPedido(pedido.id)">
        {{ "ORDERS.finish_btn" | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
