<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pedidos Pendientes (Cocina y Bar)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
    <ion-card *ngFor="let pedido of pedidos" class="transparent-card">
      <ion-card-header>
        <ion-card-title>Pedido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="card-text">Estado: <strong>{{ pedido.estado }}</strong></p>
        <p class="card-text">Productos: <strong>{{ pedido.items.join(', ') }}</strong></p>
        <p class="card-text">Tiempo mínimo de espera: <strong>{{ pedido.tiempo }}</strong></p>
        <br>
        <ion-button expand="full" color="success" *ngIf="pedido.estado === 'pendiente'" (click)="aceptarPedido(pedido.id)">Aceptar Pedido</ion-button>
        <ion-button expand="full" color="danger" *ngIf="pedido.estado === 'realizando'" (click)="terminarPedido(pedido.id)">Terminar Pedido</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
